@page
@model TestPayment.Pages.Payment.VerifyModel
@{
}

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<h2>Payment Result</h2>

<table>
  <tr>
    <th>Checkout Id</th>
    <th>Resorce Path</th>
  </tr>
  <tr>
    <td>@Model.ChecoutId</td>
    <td>@Model.ResourcePath</td>
  </tr>

</table>

